.container-fluid
{
    background-color: #56a556;
    height: 80px;
}

.navbar-default .navbar-brand
{
    color: #1b1b1b;
}

.res
{
    width: 115px;
    height: 50px;
}

.select_file
{
    min-height: 130px;
    width: 70%;
    text-align: center;
    display: block;
    border: #56a556;
    background-color: #c7e8e7;
    border-style: solid;
    padding-bottom: 5px;
    margin: auto;    
}

.file
{
    margin-top: 5px;
}

.get_data
{
    display: flex;
}

.selected_file
{
    width: 30%;
    min-height: 130px;
    border:#56a556;
    border-style: solid;
    background-color: #c7e8e7;
    margin: auto;
    text-align: center;
}

.selected_button
{
    margin-top: 45px;
}

.selected_file button
{
    margin-top: 40px;
}

.to_center
{
    text-align: center;
}

.go_button
{
    text-align: center;
}

.go_button button
{
    width: 160px;
    height: 80px;
    font-size: 35px;
}